@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply fixed inset-0 z-40 bg-black/50;
  }
  .modal-content {
    @apply fixed left-1/2 top-1/2 z-50 max-h-[85vh] no-scrollbar overflow-auto w-[20vw] max-w-3xl -translate-x-1/2 -translate-y-1/2 rounded bg-white shadow-lg;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
